<!doctype html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="angular.js"></script>
		<style>
			tr.itemRow:hover {
				background-color: #0ff;
			}
			div#popup {
				position: fixed;
				width: 300px;
				height: 500px;
				border: 2px solid black;
				background-color: white;
				z-index: 10;
				left: 30%;
				top: 10%;
			}
			.center-table {
				margin: 20px auto !important;
				float: none !important;
			}
		</style>
		<title>My Checklist</title>
	</head>
	<body ng-app="checklist" ng-controller="MainCtrl">

		<!-- This is the popup -->
		<div id="popup" ng-show="showPopup">
			<table>
				<tr>
					<td>Task Name:</td>
					<td><input type="text" ng-model="currentTask.name" /></td>
				<tr>
				<tr>
					<td>Created:</td>
					<td>{{currentTask.created}}</td>
				</tr>
				<tr>
					<td>Updated:</td>
					<td>{{currentTask.updated}}</td>
				</tr>
				<tr>
					<td>Due date:</td>
					<td><input type="text" ng-model="currentTask.due" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<button ng-click="closePopup(currentTask.id)">Save</button>
					</td>
				</tr>
			</table>
		</div>

		
		<div class="container">
			<div class="jumbotron">
				<div class="page-header" style="text-align: center;">
					<h1>My Checklist</h1>
				</div>
				<table class="center-table">
					<tr>
						<td><button class="btn-primary" ng-class="ongoing" ng-click="show('ongoing')">Show Ongoing Tasks</button></td>
						<td><button class="btn-primary" ng-class="completed" ng-click="show('completed')">Show Completed Tasks</button></td>
						<td><button class="btn-primary" ng-class="all" ng-click="show('all')">Show All Tasks</button></td>
					</tr>
				</table>
				<table class="table-hover center-table">
					<tr class="itemRow" ng-repeat="task in tasks">
						<td class="col-md-1" ng-if="task.complete == showComplete || showAll">
							<input type="checkbox" ng-model="task.complete"/>
						</td>
						<td class="col-md-10" ng-if="task.complete == showComplete || showAll">
							<div ng-show="!task.editing" ng-click="edit(task.id)">
								{{ task.name }}
							</div>
							<div ng-show="task.editing">
								<input type="text" ng-model="task.name"/>
								<button ng-click="save(task.id)">Save</delete>
							</div>
						</td>
						<td class="col-md-5" ng-if="task.complete == showComplete || showAll">
							<span> {{task.due}} </span>
						</td>
						<td class="col-md-3" ng-if="task.complete == showComplete || showAll">
							<button ng-click="popUp(task.id)">Edit</button>
						</td>
					</tr>
				</table>
				<table class="center-table">
					<tr>
						<td><input type="text" ng-model="newTask"></td>
						<td><button ng-click="addTask()">Add new task</button></td>
					</tr>
				</table>
			</div>
		</div>

		<script>
			var app = angular.module('checklist', []);

			app.controller('MainCtrl', ['$scope', function($scope) {
				$scope.ongoing = "";
				$scope.completed = "";
				$scope.all = "pressed";

				$scope.showPopup = false;
				$scope.currentTask = {};

				$scope.newTask = "";
				$scope.editValue = "";
				$scope.showAll = true;
				$scope.showComplete = true;

				$scope.tasks = [
					{
						id: 1,
						name: "Make a checklist",
						created: Date.now(),
						updated: Date.now(),
						due: Date.now(),
						complete: false,
						editing: false
					},
					{
						id: 2,
						name: "Git a checklist",
						created: Date.now(),
						updated: Date.now(),
						due: Date.now(),
						complete: true,
						editing: false
					}
				];
				$scope.show = function(show) {
					$scope.ongoing = "";
					$scope.completed = "";
					$scope.all = "";
					if (show == "ongoing") {
						$scope.ongoing = "pressed";
						$scope.showComplete = false;
						$scope.showAll = false;
					}
					if (show == "completed") {
						$scope.completed = "pressed";
						$scope.showComplete = true;
						$scope.showAll = false;
					}
					if (show == "all") {
						$scope.all = "pressed";
						$scope.showComplete = false;
						$scope.showAll = true;
					}			
				};
				$scope.delete = function(id) {
					var del = confirm("Are you sure you want to delete this task?");
					if (del) {
						for (var i in $scope.tasks) {
							if ($scope.tasks[i].id == id) {
								$scope.tasks.splice(i, 1);
							}
						}
					}
				};
				$scope.edit = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.tasks[i].editing = true;
							$scope.editValue = $scope.tasks[i].name;
						}
					}
				};
				$scope.popUp = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.currentTask = $scope.tasks[i];
						}
					}	
					$scope.showPopup = true;				
				};
				$scope.save = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.tasks[i].editing = false;
							$scope.tasks[i].updated = Date.now();
						}
					}
				};
				$scope.closePopup = function(id) {
					$scope.showPopup = false;
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							console.log($scope.tasks[i]);
							console.log($scope.currentTask);
						}
					}
				};
				$scope.addTask = function() {
					var newTask = {};
					newTask.id = $scope.tasks[$scope.tasks.length-1].id + 1;
					newTask.name = $scope.newTask;
					newTask.created = Date.now();
					newTask.updated = Date.now();
					newTask.due = Date.now();
					newTask.complete = false;
					newTask.editing = false;
					$scope.tasks[$scope.tasks.length] = newTask;
					$scope.newTask = "";
					console.log($scope.tasks);
				};
			}]);
		</script>
	</body>
</html>


