<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<style>
			tr.itemRow:hover {
				background-color: #0ff;
			}
		</style>
		<title>Checklist</title>
	</head>
	<body ng-app="checklist" ng-controller="MainCtrl">
		<h1>Hello checklist</h1>
		<table>
			<tr class="itemRow" ng-repeat="task in tasks">
				<td>
					<div ng-show="!task.editing" ng-click="edit(task.id)">
						{{ task.name }}
					</div>
					<div ng-show="task.editing">
						<input type="text" ng-model="task.name"/>
						<button ng-click="save(task.id)">Save</delete>
					</div>
				</td>
				<td>
					<input type="checkbox" />
				</td>
				<td>
					<button ng-click="delete(task.id)">Delete</button>
				</td>
			</tr>
		</table>
		<input type="text" ng-model="newTask">
		<button ng-click="addTask()">Add new task</button>

		<ul>
			<li>Edit</li>
			<li>Mark Complete</li>
			<li>Mark Ongoing</li>
			<li>View Ongoing</li>
			<li>View Completed</li>
			<li>View All</li>
			<li>View Single</li>
		</ul>

		<script>
			var app = angular.module('checklist', []);

			app.controller('MainCtrl', ['$scope', function($scope) {
				$scope.newTask = "";
				$scope.editValue = "";
				$scope.tasks = [
					{
						id: 1,
						name: "Make a checklist",
						created: 3,
						updated: 4,
						due: 5,
						completed: false,
						editing: false
					},
					{
						id: 2,
						name: "Git a checklist",
						created: 5,
						updated: 6,
						due: 7,
						completed: true,
						editing: false
					}
				];
				$scope.delete = function(id) {
					var del = confirm("Are you sure you want to delete this task?");
					if (del) {
						for (var i in $scope.tasks) {
							if ($scope.tasks[i].id == id) {
								$scope.tasks.splice(i, 1);
							}
						}
					}
				};
				$scope.edit = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.tasks[i].editing = true;
							$scope.editValue = $scope.tasks[i].name;
						}
					}
				};
				$scope.save = function(id) {
					console.log(id);
					console.log($scope.editValue);
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							//console.log($scope.tasks[i]);
							$scope.tasks[i].name = $scope.editValue;
						console.log($scope.tasks[i]);
							$scope.tasks[i].editing = false;
							$scope.editValue = "";
						}
					}
				};
				$scope.addTask = function() {
					var newTask = {};
					newTask.id = $scope.tasks[$scope.tasks.length-1].id + 1;
					newTask.name = $scope.newTask;
					newTask.created = Date.now();
					newTask.updated = 4;
					newTask.due = 5;
					newTask.completed = false;
					newTask.editing = false;
					$scope.tasks[$scope.tasks.length] = newTask;
					$scope.newTask = "";
					console.log($scope.tasks);
				};
			}]);
		</script>
	</body>
</html>


