<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<style>
			tr.itemRow:hover {
				background-color: #0ff;
			}
			button.pressed {
				background-color: #f00;
			}
			div#popup {
				position: fixed;
				width: 300px;
				height: 500px;
				border: 2px solid black;
				background-color: white;
				z-index: 10;
				left: 30%;
				top: 10%;
			}
		</style>
		<title>Checklist</title>
	</head>
	<body ng-app="checklist" ng-controller="MainCtrl">
		<div id="popup" ng-show="showPopup">
			<table>
				<tr>
					<td>Task Name:</td>
					<td><input type="text"/></td>
				<tr>
				<tr>
					<td>Created:</td>
					<td>243523453</td>
				</tr>
				<tr>
					<td>Updated:</td>
					<td>asdfsdf</td>
				</tr>
				<tr>
					<td>Due date:</td>
					<td><input type="text" val="dafasdf" /></td>
				</tr>
				<tr>
					<td>Completed:</td>
					<td><input type="checkbox" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<button ng-click="closePopup()">Save</button>
					</td>
				</tr>
			</table>
		</div>
		<h1>Hello checklist</h1>
		<table>
			<tr>
				<td><button ng-class="ongoing" ng-click="show('ongoing')">Show Ongoing Tasks</button></td>
				<td><button ng-class="completed" ng-click="show('completed')">Show Completed Tasks</button></td>
				<td><button ng-class="all" ng-click="show('all')">Show All Tasks</button></td>
			</tr>
		</table>
		<table>
			<thead>
				<td>Check</td>
				<td>Task Name</td>
				<td>Due Date</td>
				<td>Edit</td>
			</thead>
			<tr class="itemRow" ng-repeat="task in tasks">
				<td ng-if="task.showState == showState || showState == 'all'">
					<input type="checkbox" />
				</td>
				<td ng-if="task.showState == showState || showState == 'all'">
					<div ng-show="!task.editing" ng-click="edit(task.id)">
						{{ task.name }}
					</div>
					<div ng-show="task.editing">
						<input type="text" ng-model="task.name"/>
						<button ng-click="save(task.id)">Save</delete>
					</div>
				</td>
				<td>
					<span> {{task.due}} </span>
				</td>
				<td ng-if="task.showState == showState || showState == 'all'">
					<button ng-click="popUp(task.id)">Edit</button>
				</td>
			</tr>
		</table>
		<input type="text" ng-model="newTask">
		<button ng-click="addTask()">Add new task</button>

		<ul>
			<li>Edit</li>
			<li>Mark Complete</li>
			<li>Mark Ongoing</li>
			<li>View Single</li>
		</ul>

		<script>
			var app = angular.module('checklist', []);

			app.controller('MainCtrl', ['$scope', function($scope) {
				$scope.ongoing = "";
				$scope.completed = "";
				$scope.all = "";
				$scope.showPopup = false;

				$scope.newTask = "";
				$scope.editValue = "";
				$scope.showState = "all";
				$scope.tasks = [
					{
						id: 1,
						name: "Make a checklist",
						created: 3,
						updated: 4,
						due: 5,
						showState: 'ongoing',
						editing: false
					},
					{
						id: 2,
						name: "Git a checklist",
						created: 5,
						updated: 6,
						due: 7,
						showState: 'completed',
						editing: false
					}
				];
				$scope.show = function(show) {
					$scope.showState = show;
					$scope.ongoing = (show == "ongoing")? "pressed" : "";
					$scope.completed = (show == "completed")? "pressed" : "";
					$scope.all = (show == "all")? "pressed" : "";				
				};
				$scope.delete = function(id) {
					var del = confirm("Are you sure you want to delete this task?");
					if (del) {
						for (var i in $scope.tasks) {
							if ($scope.tasks[i].id == id) {
								$scope.tasks.splice(i, 1);
							}
						}
					}
				};
				$scope.edit = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.tasks[i].editing = true;
							$scope.editValue = $scope.tasks[i].name;
						}
					}
				};
				$scope.popUp = function(id) {
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.currentTask = $scope.tasks[i];
						}
					}	
					$scope.showPopup = true;				
				};
				$scope.save = function(id) {
					console.log(id);
					console.log($scope.tasks);
					for (var i in $scope.tasks) {
						if ($scope.tasks[i].id == id) {
							$scope.tasks[i].editing = false;
							$scope.tasks[i].updated = Date.now();
						}
					}
				};
				$scope.closePopup = function() {
					$scope.showPopup = false;
				};
				$scope.addTask = function() {
					var newTask = {};
					newTask.id = $scope.tasks[$scope.tasks.length-1].id + 1;
					newTask.name = $scope.newTask;
					newTask.created = Date.now();
					newTask.updated = 4;
					newTask.due = 5;
					newTask.showState = "ongoing";
					newTask.editing = false;
					$scope.tasks[$scope.tasks.length] = newTask;
					$scope.newTask = "";
					console.log($scope.tasks);
				};
			}]);
		</script>
	</body>
</html>


